.log {
    background: #ff432e;
    background: -webkit-linear-gradient(to right, #ff432e, #ffad61);
    background: linear-gradient(to right, #ff432e, #ffad61);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}